<div *ngIf="!holograms.length" class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span>Sorry, we're all out of holograms right now, check back later!</span>
</div>

<div *ngIf="holograms">
    <div *ngFor="let hologram of holograms" class="card mb-3">
        <h3 class="card-header">
            <span>{{ hologram.firstname }} {{ hologram.lastname }} </span>
    
            <button (click)="deleteHologram(hologram._id)" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h3>
        <img style="height: 200px; width: 100%; display: block;" [src]="hologram.imageUrl" alt="hologram.firstname">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: {{ hologram.price | currency }}</li>
        </ul>
        <div class="card-body">
            <a class="btn btn-primary">Purchase</a>
            <a [routerLink]="['/hologram', hologram._id ]" class="btn btn-secondary ml-3">View</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>